.currency_chooser_wrapper {
  position: absolute;
  width: calc(100% + 20px);

  bottom: -10px;
  left: -10px;
  height: 0%;
  z-index: 10;
  overflow: hidden;
  background-color: #fff;
  transition: height 0.3s ease-in-out;
}
.currency_chooser_wrapper.shown {
  height: calc(100% + 20px);
}
.currency_chooser_wrapper.shown .scroller_token {
  height: 60px;
}
.currency_chooser_wrapper .selectors {
  padding: 0 10px;
  box-shadow: rgba(3, 3, 3, 0.34) 0px 0px 20px 0px,
    rgba(0, 0, 0, 0.07) 0px 0px 16px 0px;
}

.currency_chooser_wrapper .selectors .header {
  padding: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_wrapper {
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 20px;
}
.input_wrapper input::placeholder {
  font-size: 80%;
}
.input_wrapper input {
  width: 100%;
  padding: 20px;
}
