@import "../../styles/index";

.confirmMenu{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-bottom: 40px;
  padding-top: 90px;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 45%, rgba(0, 0, 0, 0.0));
  .menuBlock{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0px -65px 24px 38px rgba(0, 0, 0, 0.3);
    .other{
      flex-grow: 1;
    }

    .item{

      .block{
        width: 100%;
      }

      .btn{
        border-radius: 15px;
        height: 55px;
        padding: 13px 0;
        border: 1px solid rgba(255,255,255,0.15);
      }

      .icon{
        margin-right: 10px;
        vertical-align: 2px;
      }

      .btnWithText{
        display: block;
      }

    }
  }


}