@import "../../styles/index";

.walletMenu{
  display: flex;
  justify-content: space-between;
  .item{
    width: 60px;
      .btn{
        border-radius: 20px;
        padding: 15px 0;
        width: 60px;
        height: 60px;
      }

  }
}