@import "../../styles/index";

.transactionList{

  .list{
    margin-top: 15px;
    .item{
      display: flex;
      justify-content: start;

      .icon{
        width: 44px;
        padding-top: 10px;
        :global(.svg-stroke){
          stroke: themeFontColor() !important;
        }
        :global(.svg-fill){
          fill: themeFontColor() !important;
        }
      }
      .info{
        position: relative;
        width: 100%;
        .status{
          font-size: 12px;
          color:#666666;
          &.failed{
            color:#DB3B81;
            font-weight: bold;
          }
        }

        .balance{
          position: absolute;
          top: 18px;
          right: 50px;
          text-align: right;
          font-weight: bold;
        }

      }
    }
  }

}