@import "../../styles/index";

.bottomShadow{
  padding-bottom: 106px;
  .shadow{
    height: 106px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
  }
}