@import "../../styles/index";



.secPasswordContainer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 9999;
  background-color: rgba(0,0,0,0.2);


  .contPassword{
    max-width: $max-width-window;
    width: 100%;
    position: relative;
    height: 100vh;

    .codeBlock {
      width: 100%;
      height: 515px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(18,18,18,0.76);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding-top: 25px;
      overflow: hidden;

      .hrTop{
        padding: 0;
        margin:auto;
        height: 3px;
        width: 66px;
        background-color: #ffffff;
        border: 0 none;
        color: #ffffff;
        border-radius: 2px;
        position: absolute;
        top:15px;
        left: calc(50% - 33px);
      }

      h3{
        color: #ffffff;
        font-size: 22px;
        margin-bottom: 28px;
      }

      .innerContainer {
        padding-left: $padding-left-right/2;
        padding-right: $padding-left-right/2;
      }

      .closeWindow{
        position: absolute;
        right: $padding-left-right/2;
        top: 29px;
        cursor: pointer;
      }


    }

    .errorCode{

      &:before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 183px;
        top: 0px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(165, 25, 49,0.8));
        filter: blur(5px);
        left: 0;
      }

      h3{
        color: #A51931;
      }
    }

  }

}

.blur{
  filter: blur(15px);
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

.overFlow{
  overflow-x: hidden;
}

.pinsBlock{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-left: $padding-left-right/2;
  padding-right: $padding-left-right/2;

  &.error{
    .pin{
      color: #CB5E8E ;
      border: solid 1px #CB5E8E ;
    }
  }

  .pin{
    display: block;
    font-size: 17px;
    color: #ffffff;
    border-radius: 11px;
    border: solid 1px #ffffff;
    width: 48px;
    height: 56px;
    text-align: center;
    font-weight: bold;
    padding-top: 13px;
  }
}

@include media-breakpoint-up(xs){
  .secPasswordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
