@import "../../styles/index";

.avatar{
  display: grid;

  margin-bottom: 20px;

  align-items: center;
  justify-content: center;

  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image{
    text-align: center;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    background: rgba(9, 9, 9,0.8);
    border: 3px solid rgba(255, 255, 255,0.1);
    margin-bottom: 22px;

    span{
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
  .text {
    font-size: 26px;
    color: white;
    font-weight: bold;
  }

}