@import "../../styles/index";

.adressString{
  font-size: 25px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.3vw;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
}