.wrapper {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  box-shadow: none;
}
.wrapper svg {
  position: absolute;
  padding: auto;
  transition: all 0.3s;
  z-index: 2;
}
.wrapper path {
  transition: all 0.3s;
}
.wrapper:hover path {
  stroke: #fff;
}
.wrapper::after {
  content: "";
  left: 0;
  position: absolute;
  background-color: black;
  width: 0;
  height: 20px;
  transition: all 0.3s;
}
.wrapper:hover {
  transform: rotate(90deg);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 15px;
}
.wrapper:hover::after {
  width: 50px;
}
